.courses_container{
    margin-top: 100px;
    height: 120vh;
    padding: 20px;
    padding-right: 35px;
    background-color: #f9fafb;
}

.coursesHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.course_carddivs{
    justify-content: space-around;
}

.cards{
    display: flex;
    justify-content: space-around;
}

.course_cards{
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding: 30px 60px;
    border-radius: 28.698px;
    cursor: pointer;
}

.course_cards h2{
    margin-top: 20px;
	color: #425166;
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
}

.add_course{
    background: #FFF4DE;
    /* border: 1px solid red; */
}

.update_course{
    background-color: #DCFCE7;
}

.courseMain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.courseCard{
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.courseform{
    margin-top: 10px;
    padding: 10px;
}

.courseInput{
    width: 400px;
    height: 50px;
    font-size: 15px;
    border-radius: 15px;
    padding-left: 10px;
    border: none;
    margin-bottom: 10px;
}

.courseLevel{
    width: 400px;
    height: 50px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
}

.courseLevel:focus,.courseInput:focus {
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .error{
    /* error text */
     color: red;
  }