.courses_container{
    margin-top: 100px;
    height: 100vh;
    padding: 20px;
    padding-right: 35px;
    background-color: #f9fafb;
}

.coursesHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
