@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.dashboard {
  width: 100%;
  margin-top: 100px;
  height: 200%;
  padding: 20px;
  padding-right: 35px;
  background-color: #f9fafb;
}

.inner_dashboard{
  background-color: red;
}

.AdminHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header_text h2 {
  color: #05004e;
  font-family: Poppins;
  font-size: 34.08px;
  font-style: normal;
  font-weight: 600;
}

.header_text span {
  color: #737791;
  font-family: Poppins;
  font-size: 27.264px;
  font-style: normal;
  font-weight: 400;
}

.export {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 10px 20px;
  border-radius: 13.632px;
  border: 1.704px solid #c3d3e2;
  color: #0f3659;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}

.export_icon {
  color: #0f3659;
}

.learn_more {
  display: flex;
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 40px;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 30px;
}

.learn_more_left {
}

.learn_more_left h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 57.396px;
}

.learn_more_left h4 {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
}

.learn_more_left button {
  border-radius: 24px;
  background-color: #fff;
  color: #5d5fef;
  font-family: Poppins;
  border: none;
  outline: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 10px 20px;
  margin: 15px 0;
  cursor: pointer;
}

.cards {
  border-radius: 35.872px;
  padding: 20px 10px;
  border: 1.794px solid #f8f9fa;
  background: #fff;
  box-shadow: rgba(238, 238, 238, 0.5) 0px 5px 15px;
}

.carddivs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.inner_cards {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  width: 300px;
  height: 300px;
  border-radius: 28.698px;
}

.inner_cards h2 {
  color: #151d48;
  font-family: "Poppins";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  margin: 10px auto;
}

.inner_cards h3 {
  color: #425166;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}

.view {
  display: flex;
  align-items: center;
  cursor: pointer;
  column-gap: 5px;
  color: #4079ed;
  font-family: Poppins;
  font-size: 18px;
  margin: 5px auto;
  font-style: normal;
  font-weight: 500;
}

.student {
  background: #ffe2e5;
}

.courses {
  background: #fff4de;
}

.result {
  background-color: #dcfce7;
}

.admin {
  background-color: #f3e8ff;
}

@media (max-width: 1280px) {
  .learn_more {
    padding: 25px 30px;
  }
  .carddivs {
    column-gap: 10px;
  }

  .inner_cards h2 {
    font-size: 30px;
  }

  .inner_cards h3 {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .carddivs {
    flex-wrap: wrap;
    gap: 20px;
  }
}
