.studentContainer{
    margin-top: 100px;
    height: 120vh;
    padding: 0 20px;
    padding-right: 35px;
    background-color: #f9fafb;
}

.studentHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media(max-width: 600px){
    .StudentBoxes{
        display: flex;
        flex-direction: column;
    }
    .sboxes{
        margin-bottom: 10px;
    }
}

.studentMain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.updateStudent{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

.studentdesc{
   display: grid;
   justify-content: center; 
}

.studentStyle{
    padding: 10px 0;
    padding-bottom: 10px;
}

.studentform{
    margin-top: 10px;
    padding: 10px;
}

.studentCard{
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}

.updateCard{
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.studentInput{
    width: 400px;
    height: 50px;
    font-size: 15px;
    border-radius: 15px;
    padding-left: 10px;
    border: none;
    margin-bottom: 10px;
}

.studentLevel{
    width: 400px;
    height: 50px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
}

.studentLevel:focus,.studentInput:focus {
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

.studentStyle{
    font-weight: bold;
    font-size:15px;
}

.btn{
    width: 150px;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    background: #1c2767;
    float: right;
    cursor: pointer;
}