body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.resultContainer {
  margin-top: 100px;
  height: 120vh;
  padding: 0 20px;
  padding-right: 35px;
  background-color: #f9fafb;
}

.ResultHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add_result {
  width: 300px;
  height: 300px;
  background: #dcfce7;
}

.add_result h2{
	margin-top: 20px;
	color: #425166;
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
}

.update_result {
  width: 300px;
  height: 300px;
  background: #f3e8ff;

}

.update_result h2{
	margin-top: 20px;
	color: #425166;
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
}

@media (max-width: 600px) {
  .ResultBoxes {
    display: flex;
    flex-direction: column;
  }
  .rboxes {
    margin-bottom: 10px;
  }
}

.file-upload-container {
	margin: 20px;
  	display: flex;
  	flex-direction: column;
	align-items: center;
  	justify-content: center;
	min-height: 50vh;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 40px;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.dropzone.active {
  border-color: #36a64f;
}

.uploaded-file {
  width: 70vw;
  height: fit-content;
  margin-top: 20px;
  text-align: center;
}

/* Additional styling for uploaded file */
.uploaded-file p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}
/* Medium Screens */
@media (max-width: 480px) {
	.dropzone{
		width: 90%;
		margin: 0 auto;
	}
}

/* styling for the Result.jsx */
.cards{
	display: flex;
	justify-content: space-around;
}
.result_carddivs{
	display: flex;
    justify-content: space-around;
	/* width: 100%; */
}

.result_cards{
	display: flex;
    flex-direction: column;
    align-items:center ;
    padding: 30px;
    border-radius: 28.698px;
    cursor: pointer;
}

/* .result_cards .add_result{
	width: 70%;
} */

.add_result{
    background: #FFF4DE;
}

.Excel_form{
    background-color: #DCFCE7;
}

.excelSendButton{
  padding: 12px 30px;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  letter-spacing: 1px;
  color: white;
  border: none;
  background: #023047;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.excelSendButton span{
  margin-right: 10px;
}

.excelSendButton:active,.excelSendButton:hover{
  color: lightblue;
  background-color: black;
}
.excelErr{
  float: left;
  margin-left: 50%;
  transform: translateX(-50%);
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
}


body::-webkit-scrollbar{
  display: none
}

