.resultContainer {
  margin-top: 100px;
  height: 120vh;
  padding: 0 20px;
  padding-right: 35px;
  background-color: #f9fafb;
}

.ResultHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add_result {
  width: 300px;
  height: 300px;
  background: #dcfce7;
}

.add_result h2{
	margin-top: 20px;
	color: #425166;
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
}

.update_result {
  width: 300px;
  height: 300px;
  background: #f3e8ff;

}

.update_result h2{
	margin-top: 20px;
	color: #425166;
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
}

@media (max-width: 600px) {
  .ResultBoxes {
    display: flex;
    flex-direction: column;
  }
  .rboxes {
    margin-bottom: 10px;
  }
}

.file-upload-container {
  margin: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 40px;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.dropzone.active {
  border-color: #36a64f;
}

.uploaded-file {
  width: 100vw;
  height: 100vh;
  margin-top: 20px;
  text-align: center;
}

/* Additional styling for uploaded file */
.uploaded-file p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}
/* Medium Screens */
@media (max-width: 480px) {
  .dropzone {
    width: 90%;
    margin: 0 auto;
  }
}
