/* *, *:after, *:before {
	box-sizing: border-box;
}

:root {
	--c-action-primary: #2e44ff;
	--c-action-primary-accent: #e9e5ff;
	--c-action-secondary: #e5e5e5;
	--c-text-primary: #0d0f21; 
	--c-text-secondary: #6a6b76;
	--c-background-primary: #d0d1de;
}

body {
	font-family: "Inter", sans-serif;
	color: var(--c-text-primary);
	background-color: var(--c-background-primary);	
	line-height: 1.5;
}

input, button, select, textarea {
	font: inherit;
}

.modal {
	width: 90%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	margin-bottom: 10vh;
	background-color: #FFF;
	border-radius: .5rem;
	box-shadow: 0 5px 15px rgba(#000, .2); 
}

.modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1.5rem 1.5rem 1rem;
}

.logo-circle {
	width: 3.5rem;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--c-action-primary-accent);
	svg {
		max-width: 1.5rem;
	}
}

.btn-close {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.25rem;
	height: 2.25rem;
	border-radius: .25rem;
	border: none;
	background-color: transparent;
	&:hover, &:focus {
		background-color: var(--c-action-primary-accent);
	}
}

.modal-body {
	padding: 1rem 1.5rem;
}

.modal-title {
	font-weight: 700;
}

.modal-description {
	color: var(--c-text-secondary);
}

.upload-area {
	margin-top: 1.25rem;
	border: none;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ccc' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	background-color: transparent;
	padding: 3rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	&:hover, &:focus {
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232e44ff' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	}
} 

.upload-area-icon {
	display: block;
	width: 2.25rem;
	height: 2.25rem;
	svg {
		max-height: 100%;
		max-width: 100%;
	}
}

.upload-area-title {
	margin-top: 1rem;
	display: block;
	font-weight: 700;
		color: var(--c-text-primary);
}

.upload-area-description {
		display: block;
		color: var(--c-text-secondary);
	strong {
		color: var(--c-action-primary);
		font-weight: 700;
	}
}

.modal-footer {
	padding: 1rem 1.5rem 1.5rem;
	display: flex;
	justify-content: flex-end;
	[class*="btn-"] {
		margin-left: .75rem;
	}
}

.btn-secondary, .btn-primary {
	padding: .5rem 1rem;
	font-weight: 500;
	border: 2px solid var(--c-action-secondary);
	border-radius: .25rem;
	background-color: transparent;
}

.btn-secondary:hover {
  cursor: pointer;
}

.btn-primary {
	color: #FFF;
	background-color: var(--c-action-primary);
	border-color: var(--c-action-primary);
}

.btn-primary {
  cursor: pointer;
}

.altbutton {
  padding-left: 4px;
  padding-right: 4px;
  font-size: medium;
}

.altbutton:hover {
  cursor: pointer;
} */

/* .conttt {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #1475cf;
  height: 300px;
  width: 500px;
  cursor: pointer;
  border-radius: 5px;
}

.uploaded-row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #e9f0ff;
}

.upload-content {
  display: flex;
  align-items: center;
}

.btn-close {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.25rem;
	height: 2.25rem;
	border-radius: .25rem;
	border: none;
	background-color: transparent;
	&:hover, &:focus {
		background-color: var(--c-action-primary-accent);
	}
} */

.file-upload-container {
	height: 100vh;
  display: flex;
  flex-direction: column;
	align-items: center;
  justify-content: center;
}

.dropzone {
  border: 2px dashed #ccc;
	border-radius: 10px;
  padding: 40px;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.dropzone.active {
  border-color: #36a64f;
}

.uploaded-file {
	width: 100vw;
	height: 100vh;
	/* background-color: black; */
  margin-top: 20px;
  text-align: center;
}

/* Additional styling for uploaded file */
.uploaded-file p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}
/* Medium Screens */
@media (max-width: 480px) {
	.dropzone{
		width: 90%;
		margin: 0 auto;
	}
}