@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
.adBody{
    width: 100%;
}

.mainname{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: 70px;
    background: #f0efef;
    box-shadow: 0 15px 10px -15px #111;
    font-family: 'DM Sans', sans-serif;
}

.mainname h3{
    font-size: 50px;
}