/* DM Sans Google font link */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/* Poppins Google Font link */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 100px;
  width: 100%;
  background: var(--color-white, #fff);
  font-family: "DM Sans", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header_logo {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.logo_info h5 {
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  color: #151d48;
}

.logo_info h6 {
  color: #009a1a;
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.header_search {
  display: flex;
  align-items: center;
  background-color: #f9fafb;
}

.header_search input {
  border: none;
  width: 300px;
  padding: 0 5px;
  outline: none;
  color: #737791;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.header_admin {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.admin_name h5 {
  font-family: "Poppins";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  color: #151d48;
}

.admin_name h6 {
  font-family: 'Poppins';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #737791;
}

.drop_down{
  position: relative;
  top: -10px;
  margin-left: 5px;
  cursor: pointer;
}
