@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.sidebar {
  margin-top: 100px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  transition: width 0.3s ease;
  background: #fff;
  color: #fff;
  font-family: "DM Sans", sans-serif;
}

.itemBody {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px 11px;
  padding-left: 30px;
  margin: 10px;
  width: 90%;
  border-radius: 16px;
  text-decoration: none;
  transition: all 0.8s ease;
}


.itemBody:hover,.itemBody:focus {
  cursor: pointer;
  background: #5d5fef;
  border-radius: 16px;
  text-decoration: none;
  outline: none;
}

.itemBody:hover .itemName{
    color: #FFF;
}

.itemBody:active .itemName{
    color: #FFF;
}

.itemName {
  color: #737791;
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  outline: none;
}

.itemIcon{
    font-size: 25px;
    color: #737791;
}

.itemBody:hover .itemIcon{
    color: #FFF;
}

.itemBody:active .itemIcon{
    color: #FFF;
}

a {
  text-decoration: none;
}

.signout{
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 15px 11px;
  padding-left: 40px;
  margin-top: 100px;
  width: 90%;
  border-radius: 16px;
  text-decoration: none;
  transition: all 0.8s ease;
}

.signout:hover,.signout:focus{
  cursor: pointer;
  background: #5d5fef;
  border-radius: 16px;
  text-decoration: none;
  outline: none;
}

.signout_icon{
  font-size: 25px;
  color: #737791;
}

.signout:hover .signout_icon,.signout:active .signout_icon,.signout:focus .signout_icon{
  color: #FFF;
}
.signout span{
  color: #737791;
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  outline: none;
}

.signout:hover span,.signout:active span,.signout:focus span{
  color: #FFF;
}

.mainbody {
  display: flex;
  width: 100%;
}

.mainbar {
  width: 100%;
}
