@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
.adBody{
    width: 100%;
}
.adBody .fix{
    height: 100%;
    background-color: red;
    overflow: hidden;
}
.mainbar{
    height: 100%;
    width: calc(200% - 300px);
    margin-left: 300px;
}
.mainname{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    background-color: #fff;
    height: 70px;
    box-shadow: 0 15px 10px -15px #111;
    font-family: 'DM Sans', sans-serif;
}

.mainname h3{
    font-size: 50px;
}