.sAdminMain{
    display: flex;
    justify-content: center;
    height: 85vh;
}

.sAdmindesc{
   display: grid;
   justify-content: center; 
}

.sAdminform{
    margin-top: 10px;
    padding: 10px;
}

.sAdminCard{
    margin-top: 20px;
    height: 50vh;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sAdminInput{
    width: 400px;
    height: 50px;
    font-size: 15px;
    border-radius: 15px;
    padding-left: 10px;
    border: none;
    margin-bottom: 10px;
}

.studentInput:focus {
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

.sAdminStyle{
    font-weight: bold;
    font-size:15px;
}

.btn{
    width: 150px;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    background: #1c2767;
    float: right;
    cursor: pointer;
}