.admin_container {
  margin-top: 100px;
  height: 120vh ;
  padding: 0 20px;
  padding-right: 35px;
  background-color: #f9fafb;
}

.add_admin,
.delete_admin,
.view_admin {
  width: 300px;
  height: 300px;
}
.add_admin {
  background: #dcfce7;
}

.delete_admin {
  background: #fff4de;
}

.view_admin {
  background: #f3e8ff;
}

.add_admin h2,
.delete_admin h2,
.view_admin h2 {
  color: #425166;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 500;
}

@media (max-width: 600px) {
  .sAdminBoxes {
    display: flex;
    flex-direction: column;
  }
  .adminboxes {
    margin-bottom: 10px;
  }
}
