.sAdminHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background: #f0efef;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-family: 'DM Sans', sans-serif;
}

.sAdminBoxes{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.adminboxes{
    display: flex;
    background-color: #add8e6;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    width: 400px;
    height: 100px;
    position: relative;
}

.adminboxes:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .8s ease;
}

.adminboxes::before{
    content: '';
    position : absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all .8s ease;
}

.adminboxes::after{
    content: '';
    position : absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    transition: all .8s ease;
}

.adminboxes:hover::before,.adminboxes:hover::after{
    border-color: #1c2767;
    width: 100%;
    height: 100%;
}

@media(max-width: 600px){
    .sAdminBoxes{
        display: flex;
        flex-direction: column;
    }
    .adminboxes{
        margin-bottom: 10px;
    }
}