@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
/* .mainbody{
    display: flex;
    width: 100%;
}

.mainbar{
    width: 100%;
} */

/* Medium Screens */
    @media (max-width: 480px) {
        .entire_dashboard{
            display: none;
        }
    }